#game_board {
  background: #eee;
  border: thin solid #999;
  font-family: monospace;
  text-align: center;
  white-space: pre;
}

#skip_day_count {
  text-align: right;
}

#debug_animals, #debug_plants {
  white-space: pre;
}
